/* Tablets landscape / laptops */
@media (max-width: 64rem) {
  /* 1024px */
    .main{
        padding-top: 0;
    }
    .s3-container {
        padding-top: 0;
    }
    .s4-container{
        padding: 2rem 3rem 8rem 3rem;
    }
    .section1 {
        gap: 6rem;
    }
}

/* Tablets portrait / landscape phones */
@media (max-width: 48rem) {
  /* 768px */
    .h-container {
        grid-template-columns: 1fr;
    }
    .h-left {
        align-items: center;
        padding: 8rem 0 5rem 0;
        text-align: center;
    }
    .section1 {
        gap: 2rem;
    }
    .m-container{
        padding: 6rem 0;
    }
    .section1 {
        padding-bottom: 6rem;
    }
    .s3-container {
        grid-template-columns: 1fr;
        grid-template-rows: 4fr;
    }
    .s3-heading {
        grid-area: 1 / 1 / 2 / 2;
        align-content: center;
        justify-items: center;
        padding: 3rem 0;
    }
    .s3-img1,
    .s3-img2,
    .s3-img3{
        gap: 1rem;
    }
    .s3-container {
        padding-bottom: 3rem;
    }
    .s4-container{
        padding: 0 3rem 5rem 3rem;
        grid-template-columns: 1fr;
        grid-template-rows: 4fr;
    }
    .s4-heading{
        grid-area: 1 / 1 / 2 / 2;
        align-content: center;
        justify-items: center;
        padding: 3rem 0;
    }
    .f-container{
        padding: 4rem 3rem 2rem 3rem;
    }
}

/* Small phones (Spark 10 Pro included) */
@media (max-width: 30rem) {
  /* 480px */
        .f-container{
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: 1fr;
            padding: 3rem 3rem 2rem 2rem;
        }
        .f-box1{
            grid-area: 1 / 1 / 2 / 5;
            align-items: center;
            text-align: center;
            padding-right: 0;
            margin-right: 0;
        }
        .f-box5{
            grid-area: 3 / 1 / 4 / 5;
            text-align: center;
            gap: 1rem;
        }
        .s3-heading {
            text-align: center;
            padding: 3rem 3rem 0 3rem;
        }
        .section1{
            grid-template-columns: 1fr;
        }
        .m-right{
            align-items: center;
            grid-area: 1 / 1 / 2 / 2;
        }
        .m-container{
            padding: 3rem 0 6rem 0;
        }
        .fbtn input,.fbtn button{
            padding: 1rem;
        }
}
